.p {
  line-height: 150%;
}

.xs {
  font-size: 0.667rem;
}

.sm {
  font-size: 0.833rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.167remrem;
}

.xl {
  font-size: 1.417rem;
}

.xxl {
  font-size: 1.75rem;
}
