.button {
  padding: 1.5em 2em;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
  text-align: center;
  text-decoration: none;
}

.button:disabled {
  opacity: 0.4;
}

.primary {
  background-color: rgb(var(--primary));
  color: rgb(var(--black));
}

.secondary {
}

.outline {
}

.sm {
  font-size: 0.833rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.25rem;
}

.xl {
  font-size: 1.583rem;
}
