.container {
  padding: var(--top-spacing) var(--horizontal-spacing) var(--bottom-spacing);
  position: relative;
  height: 100%;
}

.content {
  padding-bottom: 8rem;
}

.topbar {
  display: flex;
}
