:root {
  /* Colors */
  --primary: 180, 255, 21;
  --black: 19, 19, 19;
  --dark-grey: 29, 29, 29;
  --white: 252, 252, 252;
  --light-grey: 193, 193, 193;

  /* Spacing */
  --horizontal-spacing: 2.5rem;
  --top-spacing: 6rem;
  --bottom-spacing: 4rem;

  /* Fonts */
  --base-font-size: 12px;
  --body-xs: 0.667rem;
  --body-sm: 0.833rem;
  --body-md: 1rem;
  --body-lg: 1.167rem;
  --body-xl: 1.417rem;
  --body-2xl: 1.75rem;
}
